# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual Environment
# ==========================
venv/
.venv/
env/

# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Build
# ==========================
build/
dist/
*.egg-info/

# ==========================
# Models
# ==========================
models/
checkpoints/
*.pt
*.pth
*.joblib
*.pkl

# ==========================
# FAISS Indexes
# ==========================
indexes/
*.index

# Datasets
backend/datasets/

# ==========================
# Processed Data
# ==========================
datasets/processed/
datasets/embeddings/
datasets/cache/

# ==========================
# Database
# ==========================
*.db
*.sqlite
*.sqlite3

# ==========================
# Coverage
# ==========================
.coverage
htmlcov/
.pytest_cache/

# ==========================
# Temporary Files
# ==========================
*.tmp
*.temp