fastapi
uvicorn[standard]
python-multipart

pandas
numpy
scipy
pyarrow

scikit-learn
scikit-surprise
xgboost

nltk
spacy
sentence-transformers

faiss-cpu

sqlalchemy
psycopg2-binary

python-dotenv
pydantic
pydantic-settings

requests

joblib
tqdm

matplotlib
plotly

jupyter
ipykernel